## Scikit- learn

In [4]:
import pandas as pd
import numpy as np
hdf= pd.read_csv('heart-disease.csv')
hdf.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [2]:
# Creating feature matrix(X)
# axis=0 means the rows axis
# axix=1 means the columns axis
X= hdf.drop('target',axis=1)

In [3]:
# Creating labels
Y= hdf['target']

In [14]:
# CHOOSING THE MODEL
from sklearn.ensemble import RandomForestClassifier
clf= RandomForestClassifier(n_estimators=100)

# Keeping the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [25]:
# Fit the model to data
from sklearn.model_selection import train_test_split

#Splitting the data into training and testing parts
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.2)
X_train.shape, Y_train.shape, Y_test.shape, X_test.shape

((16512, 8), (16512,), (4128,), (4128, 8))

In [17]:
#Find the patterns in training data
clf.fit(X_train,Y_train);

In [28]:
# Making a prediction
y_label= clf.predict(X_test)
y_label

array([1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0])

In [21]:
# Checking the accuracy of our model on test data
clf.score(X_train, Y_train)

1.0

In [22]:
clf.score(X_test,Y_test)

0.7868852459016393

In [26]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(Y_test,y_label))

              precision    recall  f1-score   support

           0       0.75      0.78      0.76        27
           1       0.82      0.79      0.81        34

    accuracy                           0.79        61
   macro avg       0.78      0.79      0.78        61
weighted avg       0.79      0.79      0.79        61

In [29]:
confusion_matrix(Y_test, y_label)

array([[21,  6],
       [ 7, 27]])

In [30]:
accuracy_score(Y_test, y_label)

0.7868852459016393

In [35]:
## IMPROVE THE MODEL
# Trying different number of n-estimators
np.random.seed(42)
for i in range (10,100,10):
    print(f"Trying models with {i} estimators")
    clf= RandomForestClassifier().fit(X_train,Y_train)
    print(f"Accuracy score: {clf.score(X_test, Y_test)*100} %")

Trying models with 10 estimators
Accuracy score: 80.32786885245902 %
Trying models with 20 estimators
Accuracy score: 78.68852459016394 %
Trying models with 30 estimators
Accuracy score: 83.60655737704919 %
Trying models with 40 estimators
Accuracy score: 81.9672131147541 %
Trying models with 50 estimators
Accuracy score: 83.60655737704919 %
Trying models with 60 estimators
Accuracy score: 81.9672131147541 %
Trying models with 70 estimators
Accuracy score: 81.9672131147541 %
Trying models with 80 estimators
Accuracy score: 81.9672131147541 %
Trying models with 90 estimators
Accuracy score: 78.68852459016394 %

#### Hence, 50 estimators are the best

In [37]:
## SAVING THE MODEL
import pickle
pickle.dump(clf, open('random_forest_model_1.pkl','wb'))
# wb stands for WRITE BINARY

In [38]:
load_model= pickle.load(open('random_forest_model_1.pkl','rb'))
load_model.score(X_test,Y_test)

0.7868852459016393

## To escape the warnings

In [41]:
import warnings
warnings.filterwarnings("ignore")
##This will remove all the warnings from our file at once

## Get our data ready for the machine learning model to work 

Things to do:

    * Divide the data into features and labels ('X' and 'Y')
    * Fill (impute) in the missing values
    * Convert non-numerical values to numerical values

In [47]:
## Converting data to numerical form
cdf= pd.read_csv('car-sales-extended.csv')
cdf.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [48]:
len(cdf)

1000

In [51]:
## ALL the datatypes HAVE to be numbers
cdf.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [57]:
## Predict Price
# Splitting the data into labels and features
X1= cdf.drop('Price',axis=1)
X1.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [65]:
cdf['Doors'].value_counts()

4    856
5     79
3     65
Name: Doors, dtype: int64

In [58]:
y= cdf['Price']
y.head()

0    15323
1    19943
2    28343
3    13434
4    14043
Name: Price, dtype: int64

In [59]:
## Splitting into training and testing
from sklearn.model_selection import train_test_split
X1_train, X1_test, y_train, y_test= train_test_split(X1, y, test_size= 0.2)

In [60]:
X1_train.describe

<bound method NDFrame.describe of        Make Colour  Odometer (KM)  Doors
305   Honda  White          61163      4
183  Toyota  White          87594      4
125  Toyota   Blue          83784      4
976  Toyota   Blue          95317      4
340   Honda  White          80664      4
..      ...    ...            ...    ...
349     BMW  White         176864      5
515   Honda   Blue          30120      4
623   Honda  White         178134      4
502   Honda   Blue         166897      4
581   Honda  Black         222786      4

[800 rows x 4 columns]>

In [61]:
len(X1_test)

200

In [73]:
# Lets build the model
from sklearn.ensemble import RandomForestRegressor
model= RandomForestRegressor()
model.fit(X1_train,y_train)

ValueError: could not convert string to float: 'Honda'

In [69]:
# So, now we convert to string 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# We choose Doors here because it has only 3 categories
categorical_features= ['Make', 'Colour','Doors']

one_hot= OneHotEncoder()
transformer= ColumnTransformer([('one_hot',
                                one_hot,
                                categorical_features)],
                              remainder='passthrough')
transformed_data= transformer.fit_transform(X1)
transformed_data

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [70]:
pd.DataFrame(transformed_data)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

In [76]:
## MODEL MAKING AGAIN
np.random.seed(42)
## y stays the same because y was already numerical
X_train, X_test, y_train, y_test= train_test_split(transformed_data, y, test_size=0.2)
model.fit(X_train, y_train);
model.score(X_test, y_test)

0.3235867221569877

## Handling Missing data values

1. Fill them with some values
2. Remove them

### Handling data with pandas

In [80]:
missing= pd.read_csv('car-sales-extended-missing-data.csv')
missing.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [82]:
# To find the number of missing columns
missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [88]:
# create X and Y
Xmissing= missing.drop('Price',axis=1)
Ymissing= missing['Price']

In [89]:
# converting it into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features=['Make','Colour','Doors']
one_hot= OneHotEncoder()
transformmed= ColumnTransformer([('one_hot',
                                 one_hot,
                                 categorical_features)],
                               remainder='passthrough')
new_missing= transformmed.fit_transform(Xmissing)
new_missing

<1000x16 sparse matrix of type '<class 'numpy.float64'>'
	with 4000 stored elements in Compressed Sparse Row format>

In [90]:
## Fill Missing data with Pandas
missing['Make'].fillna('Missing',inplace=True)
missing['Colour'].fillna('Missing',inplace=True)
missing['Doors'].fillna(4,inplace=True)
missing.dropna(inplace=True)
missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [92]:
## Redoing the split
missingX= missing.drop('Price',axis=1)
missingY= missing['Price']

In [93]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categories=['Make','Colour','Doors']
one_hot=OneHotEncoder()
changed_data= ColumnTransformer([('one_hot',
                                 one_hot,
                                 categories)],
                               remainder='passthrough')
final_data= changed_data.fit_transform(missingX)
final_data

<902x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3608 stored elements in Compressed Sparse Row format>

## Note: Tranform training and test datas seperately

### Handling data with Scikit- learn

In [135]:
missing= pd.read_csv('car-sales-extended-missing-data.csv')
missing.dropna(subset=['Price'],inplace=True)

In [136]:
from sklearn.model_selection import train_test_split
mx= missing.drop('Price', axis=1)
my=missing['Price']

mx_train, mx_test, my_train, my_test= train_test_split(mx,my,test_size=0.2)
mx_train.shape,mx_test.shape,my_train.shape,my_test.shape

((760, 4), (190, 4), (760,), (190,))

In [137]:
mx_train.isna().sum()

Make             40
Colour           38
Odometer (KM)    39
Doors            34
dtype: int64

In [138]:
my_train.isna().sum()

0

#### FILLING MISSING VALUES

In [139]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer= SimpleImputer(strategy='constant', fill_value='missing')
door_imputer= SimpleImputer(strategy='constant', fill_value=4)
num_imputer= SimpleImputer(strategy='mean')

cat_feature=['Make','Colour']
door_feature= ['Doors']
num_feature= ['Odometer (KM)']

imputer= ColumnTransformer([("cat_imputer",cat_imputer, cat_feature),
                           ("door_imputer",door_imputer, door_feature),
                           ("num_imputer",num_imputer, num_feature)],
                          remainder='passthrough')

mx_train_filled= imputer.fit_transform(mx_train)

In [140]:
mx_train_filled_df= pd.DataFrame(mx_train_filled, columns=['Make','Colour','Doors', 'Odometer (KM)'])

In [141]:
mx_train_filled_df

        Make   Colour Doors Odometer (KM)
0    missing      Red   4.0      227262.0
1     Nissan  missing   4.0      129820.0
2      Honda     Blue   4.0       76579.0
3     Toyota     Blue   4.0      154576.0
4     Toyota    White   4.0      110362.0
..       ...      ...   ...           ...
755   Toyota     Blue   4.0       52196.0
756   Toyota    White   4.0       50756.0
757   Toyota     Blue   4.0       71306.0
758  missing    White   4.0      177894.0
759    Honda     Blue   4.0       50417.0

[760 rows x 4 columns]

In [142]:
mx_train_filled_df.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [144]:
## Filling data for test data as well
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

cat_imputer= SimpleImputer(strategy='constant', fill_value='missing')
door_imputer= SimpleImputer(strategy='constant', fill_value=4)
num_imputer= SimpleImputer(strategy='mean')

cat_feature=['Make','Colour']
door_feature= ['Doors']
num_feature= ['Odometer (KM)']

imputer= ColumnTransformer([("cat_imputer",cat_imputer, cat_feature),
                           ("door_imputer",door_imputer, door_feature),
                           ("num_imputer",num_imputer, num_feature)],
                          remainder='passthrough')
mx_test_filled= imputer.fit_transform(mx_test)
mx_test_filled

array([['Nissan', 'Red', 4.0, 61892.0],
       ['Nissan', 'Red', 4.0, 209976.0],
       ['Nissan', 'Black', 4.0, 10148.0],
       ['Toyota', 'Red', 4.0, 189278.0],
       ['Toyota', 'White', 4.0, 216647.0],
       ['Toyota', 'Black', 4.0, 35820.0],
       ['Nissan', 'Blue', 4.0, 96785.0],
       ['Toyota', 'Black', 4.0, 224986.0],
       ['Toyota', 'missing', 4.0, 51788.0],
       ['missing', 'White', 3.0, 19482.0],
       ['Toyota', 'missing', 4.0, 103682.0],
       ['BMW', 'Blue', 5.0, 165375.0],
       ['Toyota', 'White', 4.0, 124057.0],
       ['Toyota', 'missing', 4.0, 73360.0],
       ['Honda', 'Blue', 4.0, 63800.0],
       ['Honda', 'White', 4.0, 120283.0],
       ['Toyota', 'White', 4.0, 149989.0],
       ['Toyota', 'White', 4.0, 185455.0],
       ['Toyota', 'White', 4.0, 129188.0],
       ['missing', 'White', 5.0, 45513.0],
       ['Nissan', 'White', 4.0, 133441.0],
       ['Toyota', 'White', 4.0, 104722.0],
       ['Toyota', 'White', 4.0, 170085.0],
       ['Honda', 'White', 4.0, 56687.0],
       ['BMW', 'Blue', 5.0, 69358.0],
       ['BMW', 'White', 5.0, 195419.0],
       ['Toyota', 'White', 4.0, 203804.0],
       ['Toyota', 'Green', 4.0, 58938.0],
       ['Nissan', 'White', 4.0, 215169.0],
       ['BMW', 'Red', 5.0, 131587.0],
       ['Nissan', 'Blue', 3.0, 180021.0],
       ['Toyota', 'Blue', 4.0, 134046.4364640884],
       ['Honda', 'White', 4.0, 126854.0],
       ['Honda', 'Blue', 4.0, 196835.0],
       ['BMW', 'White', 4.0, 194157.0],
       ['Honda', 'Green', 4.0, 47019.0],
       ['Nissan', 'Green', 3.0, 76610.0],
       ['Toyota', 'missing', 4.0, 118706.0],
       ['Nissan', 'White', 4.0, 197844.0],
       ['BMW', 'Blue', 5.0, 72575.0],
       ['Honda', 'White', 4.0, 178134.0],
       ['Toyota', 'Blue', 4.0, 42480.0],
       ['Honda', 'White', 4.0, 82518.0],
       ['Nissan', 'White', 4.0, 24077.0],
       ['Honda', 'Blue', 4.0, 248899.0],
       ['BMW', 'Blue', 3.0, 142189.0],
       ['Toyota', 'White', 4.0, 46848.0],
       ['BMW', 'Black', 5.0, 158339.0],
       ['Honda', 'Blue', 4.0, 106744.0],
       ['Toyota', 'White', 4.0, 107410.0],
       ['Toyota', 'White', 4.0, 72118.0],
       ['missing', 'White', 4.0, 103728.0],
       ['Toyota', 'White', 4.0, 185146.0],
       ['Toyota', 'White', 4.0, 196225.0],
       ['Nissan', 'Green', 4.0, 189739.0],
       ['BMW', 'Green', 5.0, 162607.0],
       ['BMW', 'Green', 5.0, 112156.0],
       ['Nissan', 'Blue', 4.0, 180739.0],
       ['Honda', 'White', 4.0, 195787.0],
       ['Toyota', 'Blue', 4.0, 207048.0],
       ['Nissan', 'White', 4.0, 195056.0],
       ['BMW', 'Blue', 5.0, 79301.0],
       ['Nissan', 'White', 4.0, 203795.0],
       ['BMW', 'Green', 5.0, 117440.0],
       ['Nissan', 'Blue', 4.0, 76412.0],
       ['Nissan', 'White', 4.0, 51004.0],
       ['BMW', 'Blue', 5.0, 179255.0],
       ['Nissan', 'Green', 4.0, 235589.0],
       ['Toyota', 'White', 4.0, 172018.0],
       ['Toyota', 'Blue', 4.0, 134046.4364640884],
       ['Toyota', 'White', 4.0, 95725.0],
       ['missing', 'Green', 4.0, 83293.0],
       ['Toyota', 'White', 4.0, 132055.0],
       ['BMW', 'Black', 3.0, 11049.0],
       ['Toyota', 'White', 4.0, 199985.0],
       ['Nissan', 'Blue', 4.0, 157235.0],
       ['missing', 'Blue', 4.0, 73926.0],
       ['Toyota', 'Black', 4.0, 86333.0],
       ['Nissan', 'White', 4.0, 72122.0],
       ['Toyota', 'White', 4.0, 134046.4364640884],
       ['Toyota', 'White', 4.0, 108569.0],
       ['Toyota', 'White', 4.0, 231683.0],
       ['Toyota', 'Red', 4.0, 248634.0],
       ['Toyota', 'Blue', 4.0, 125939.0],
       ['Honda', 'Black', 4.0, 94941.0],
       ['Toyota', 'Blue', 4.0, 95317.0],
       ['Honda', 'White', 4.0, 52563.0],
       ['Nissan', 'Blue', 4.0, 34024.0],
       ['BMW', 'Blue', 3.0, 63321.0],
       ['Honda', 'Blue', 4.0, 207344.0],
       ['Honda', 'Blue', 4.0, 152547.0],
       ['Honda', 'Blue', 4.0, 136392.0],
       ['Toyota', 'Blue', 4.0, 177356.0],
       ['Toyota', 'Green', 4.0, 151291.0],
       ['BMW', 'White', 4.0, 96224.0],
       ['BMW', 'White', 4.0, 235774.0],
       ['Nissan', 'White', 3.0, 176135.0],
       ['Honda', 'missing', 4.0, 223685.0],
       ['Nissan', 'Green', 4.0, 163080.0],
       ['Nissan', 'Red', 4.0, 134046.4364640884],
       ['Nissan', 'Blue', 4.0, 249860.0],
       ['Toyota', 'Red', 4.0, 190211.0],
       ['Nissan', 'Green', 3.0, 190794.0],
       ['Nissan', 'Blue', 4.0, 189182.0],
       ['Honda', 'Blue', 4.0, 68223.0],
       ['Nissan', 'Blue', 4.0, 134046.4364640884],
       ['Toyota', 'White', 4.0, 83594.0],
       ['Toyota', 'Blue', 4.0, 77646.0],
       ['Honda', 'White', 4.0, 224292.0],
       ['Honda', 'Red', 4.0, 120306.0],
       ['Nissan', 'Red', 3.0, 113278.0],
       ['Toyota', 'Red', 4.0, 162665.0],
       ['Toyota', 'Red', 4.0, 157432.0],
       ['Toyota', 'missing', 4.0, 114202.0],
       ['Toyota', 'Green', 4.0, 142598.0],
       ['Nissan', 'White', 4.0, 49310.0],
       ['Toyota', 'Green', 4.0, 172493.0],
       ['Toyota', 'Blue', 4.0, 61337.0],
       ['Toyota', 'Blue', 4.0, 230908.0],
       ['Honda', 'White', 4.0, 248301.0],
       ['Toyota', 'Red', 4.0, 241987.0],
       ['Toyota', 'missing', 4.0, 170466.0],
       ['Nissan', 'Blue', 4.0, 228192.0],
       ['Toyota', 'White', 4.0, 221050.0],
       ['Honda', 'missing', 4.0, 30615.0],
       ['Nissan', 'White', 4.0, 193389.0],
       ['Toyota', 'White', 4.0, 78123.0],
       ['Honda', 'White', 4.0, 29541.0],
       ['Honda', 'Green', 4.0, 237627.0],
       ['Toyota', 'Blue', 4.0, 103202.0],
       ['Toyota', 'White', 4.0, 216076.0],
       ['Toyota', 'Blue', 4.0, 140465.0],
       ['Honda', 'White', 4.0, 134046.4364640884],
       ['Toyota', 'White', 4.0, 134415.0],
       ['Toyota', 'Blue', 4.0, 39753.0],
       ['Nissan', 'White', 4.0, 66199.0],
       ['Honda', 'Red', 4.0, 42652.0],
       ['Honda', 'White', 4.0, 134046.4364640884],
       ['BMW', 'White', 5.0, 84327.0],
       ['Toyota', 'White', 4.0, 177571.0],
       ['BMW', 'Blue', 3.0, 130817.0],
       ['Toyota', 'Black', 4.0, 40285.0],
       ['BMW', 'White', 5.0, 79937.0],
       ['Nissan', 'Black', 4.0, 239908.0],
       ['Toyota', 'White', 4.0, 58054.0],
       ['Toyota', 'Blue', 4.0, 51155.0],
       ['Toyota', 'Red', 4.0, 13050.0],
       ['missing', 'White', 3.0, 133069.0],
       ['Honda', 'Red', 4.0, 11035.0],
       ['Honda', 'Green', 4.0, 130075.0],
       ['Honda', 'Blue', 4.0, 73286.0],
       ['Honda', 'White', 4.0, 148238.0],
       ['BMW', 'White', 3.0, 57905.0],
       ['Honda', 'Blue', 4.0, 187630.0],
       ['Honda', 'White', 4.0, 161068.0],
       ['Nissan', 'Blue', 3.0, 193135.0],
       ['Honda', 'White', 4.0, 43437.0],
       ['Toyota', 'Red', 4.0, 133195.0],
       ['Nissan', 'Red', 3.0, 196130.0],
       ['BMW', 'White', 5.0, 178796.0],
       ['Toyota', 'White', 4.0, 119439.0],
       ['Honda', 'White', 4.0, 152212.0],
       ['Honda', 'Blue', 4.0, 210446.0],
       ['BMW', 'Black', 5.0, 181572.0],
       ['Honda', 'Blue', 4.0, 247869.0],
       ['Nissan', 'White', 4.0, 134046.4364640884],
       ['Toyota', 'Blue', 4.0, 223390.0],
       ['Toyota', 'Blue', 4.0, 223875.0],
       ['Honda', 'White', 4.0, 42844.0],
       ['Honda', 'White', 4.0, 56523.0],
       ['Honda', 'White', 4.0, 84714.0],
       ['Toyota', 'Blue', 4.0, 247601.0],
       ['Nissan', 'Blue', 4.0, 224410.0],
       ['Nissan', 'Green', 3.0, 107112.0],
       ['Honda', 'Blue', 4.0, 196526.0],
       ['Honda', 'Blue', 4.0, 199833.0],
       ['Nissan', 'Blue', 4.0, 38233.0],
       ['Honda', 'Blue', 4.0, 171303.0],
       ['Toyota', 'White', 4.0, 71805.0],
       ['Toyota', 'Blue', 4.0, 135080.0],
       ['Honda', 'Blue', 4.0, 166595.0],
       ['Toyota', 'Green', 4.0, 132714.0],
       ['Nissan', 'Black', 4.0, 59335.0],
       ['Nissan', 'Blue', 4.0, 63686.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Red', 4.0, 134046.4364640884],
       ['Honda', 'Red', 4.0, 164352.0],
       ['Toyota', 'Green', 4.0, 180760.0],
       ['missing', 'Blue', 4.0, 174008.0],
       ['Honda', 'Black', 4.0, 61120.0]], dtype=object)

In [145]:
mx_test_filled_df= pd.DataFrame(mx_test_filled, columns= ['Make', 'Colour', 'Doors','Odometer (KM)'])
mx_test_filled_df.head()

     Make Colour Doors Odometer (KM)
0  Nissan    Red   4.0       61892.0
1  Nissan    Red   4.0      209976.0
2  Nissan  Black   4.0       10148.0
3  Toyota    Red   4.0      189278.0
4  Toyota  White   4.0      216647.0

In [147]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
one_hot= OneHotEncoder()
categories=['Make','Colour','Doors']
transform= ColumnTransformer([('one_hot', one_hot, categories)],remainder='passthrough')
mx_train_filled_ch= transform.fit_transform(mx_train_filled_df)
mx_train_filled_ch

<760x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3040 stored elements in Compressed Sparse Row format>

In [148]:
## For test data
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
one_hot= OneHotEncoder()
categories=['Make','Colour','Doors']
transform= ColumnTransformer([('one_hot', one_hot, categories)],remainder='passthrough')
mx_test_filled_ch= transform.fit_transform(mx_test_filled_df)
mx_test_filled_ch

<190x15 sparse matrix of type '<class 'numpy.float64'>'
	with 760 stored elements in Compressed Sparse Row format>

In [149]:
# Fit the model

np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor
model= RandomForestRegressor()
model.fit(mx_train_filled_ch,my_train)
model.score(mx_test_filled_ch,my_test)

0.3538419388792118

### Important Definitions
1. Imputation- filling missing values
2. Feature Engineering OR Feature Encoding- turning non- numerical values into numerical values

### CALIFORNIA HOUSING DATASET

In [3]:
from sklearn.datasets import fetch_california_housing
housing= fetch_california_housing();
housing

{'data': array([[   8.3252    ,   41.        ,    6.98412698, ...,    2.55555556,
           37.88      , -122.23      ],
        [   8.3014    ,   21.        ,    6.23813708, ...,    2.10984183,
           37.86      , -122.22      ],
        [   7.2574    ,   52.        ,    8.28813559, ...,    2.80225989,
           37.85      , -122.24      ],
        ...,
        [   1.7       ,   17.        ,    5.20554273, ...,    2.3256351 ,
           39.43      , -121.22      ],
        [   1.8672    ,   18.        ,    5.32951289, ...,    2.12320917,
           39.43      , -121.32      ],
        [   2.3886    ,   16.        ,    5.25471698, ...,    2.61698113,
           39.37      , -121.24      ]]),
 'target': array([4.526, 3.585, 3.521, ..., 0.923, 0.847, 0.894]),
 'frame': None,
 'target_names': ['MedHouseVal'],
 'feature_names': ['MedInc',
  'HouseAge',
  'AveRooms',
  'AveBedrms',
  'Population',
  'AveOccup',
  'Latitude',
  'Longitude'],
 'DESCR': '.. _california_housing_dataset:\n\nCalifornia Housing dataset\n--------------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 20640\n\n    :Number of Attributes: 8 numeric, predictive attributes and the target\n\n    :Attribute Information:\n        - MedInc        median income in block group\n        - HouseAge      median house age in block group\n        - AveRooms      average number of rooms per household\n        - AveBedrms     average number of bedrooms per household\n        - Population    block group population\n        - AveOccup      average number of household members\n        - Latitude      block group latitude\n        - Longitude     block group longitude\n\n    :Missing Attribute Values: None\n\nThis dataset was obtained from the StatLib repository.\nhttps://www.dcc.fc.up.pt/~ltorgo/Regression/cal_housing.html\n\nThe target variable is the median house value for California districts,\nexpressed in hundreds of thousands of dollars ($100,000).\n\nThis dataset was derived from the 1990 U.S. census, using one row per census\nblock group. A block group is the smallest geographical unit for which the U.S.\nCensus Bureau publishes sample data (a block group typically has a population\nof 600 to 3,000 people).\n\nA household is a group of people residing within a home. Since the average\nnumber of rooms and bedrooms in this dataset are provided per household, these\ncolumns may take surprisingly large values for block groups with few households\nand many empty houses, such as vacation resorts.\n\nIt can be downloaded/loaded using the\n:func:`sklearn.datasets.fetch_california_housing` function.\n\n.. topic:: References\n\n    - Pace, R. Kelley and Ronald Barry, Sparse Spatial Autoregressions,\n      Statistics and Probability Letters, 33 (1997) 291-297\n'}

In [8]:
housing_Df= pd.DataFrame(housing['data'],columns= housing['feature_names'])
housing_Df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [16]:
housing_Df['target']=housing['target']
housing_Df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [18]:
housing_Df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [26]:
#Create random seed
np.random.seed(42)

#Creating data
X= housing_Df.drop('target',axis=1)
y= housing_Df['target']

#Splitting data into train and test
X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2)

#Fit the model